footer {
    background: $background-secondary;

    .footer-left {
        display: flex;
        flex-direction: column;

        nav {
            
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 5rem 0 1rem 0;

                li {
                    list-style-type: none;
                    color: $primary-color;
                    font-size: 1.25em;
                    position: relative;
                    margin: 0 1rem;
                    padding: 1rem 0;
                    transition: .3s ease;
                }

                li::after {
                    content: "•";
                    position: absolute;
                    color: $text-secondary;
                    font-size: .5rem;
                    margin: .5rem 1rem;
                    transition: .3s ease;
                }

                li:last-child::after {
                    content: "";
                    display: none;
                }

                li:hover {
                    transform: translateY(-.5rem);
                }
                li:hover:after {
                    transform: translateY(.5rem);
                }
            }
        }

        p {
            text-align: center;
            color: $text-secondary;
        }
    }


    .footer-icons {

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 2rem 0 5rem 0;
            transition: .3s ease;
            

            li {
                a {
                    color: $primary-color;
                }
            }
            li:hover {
                transform: translateY(-.5rem);
            }
        }
    }
}

@media (min-width: 61rem) {

    footer {
        background: $background-secondary;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5rem 0;

        .footer-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            nav {
                
                ul {
                    margin: 0;

                    li:first-child {
                        margin-left: 0;
                    }
                }
            }

            p {
                margin-top: 1rem;
            }
        }


        .footer-icons {

            ul {
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 0;
                

                li {
                    
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
