@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    @include reset-list;
}

body {
    background: $bg-body;
    color: #f4f4f4;
    font-family: $font-style;
}
  
h1 {
    color: $h1-color;
    text-align: center;
    opacity: .7;
    font-size: 3em;
}
  