.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  
    .img {
      width: 200px;
      height: 200px;
      background: crimson;
      box-shadow: 0 0 10px $img-border-color;
      transition: .3s;
  
      &:hover {
        transform: rotate(90deg);
      }
    }
  
    .img-1 {
      background: $img-1;
      @include img-style;
    }
    .img-2 {
      background: $img-2;
      @include img-style;
    }
    .img-3 {
      background: $img-3;
      @include img-style;
    }
    .img-4 {
      background: $img-4;
      @include img-style;
    }
  }