.newsletter {
    overflow: hidden;

    .newsletter-wrap {
        display: flex;
        position: relative;
        height: 600px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            position: relative;
            color: #ffffff;
            text-align: center; 
            font-size: 2.5em;
            margin: 0 1rem;
        }
    
        form {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-top: 2rem;
            padding: 0 1rem;
    
            input {
                height: 3.5rem;
                border: none;
                border-radius: 5px;
                margin-bottom: .7rem;
                font-size: 1.4em;
            }
    
            input:first-child {
                background: $background-primary;
                color: $text-secondary;
                padding-left: 1.2rem;
                transition: .3s;
            }
    
            input:first-child:focus {
                box-shadow: 0 0 10px $primary-color;
            }
    
            input:last-child{
                background: $primary-color;
                color: #ffffff; 
                transition: .3s;
            }
    
            input:last-child:hover {
                cursor: pointer;
                box-shadow: 0 0 10px $primary-color;
            }
        }
    }
    
    .newsletter-wrap::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../img/bg-masthead.jpg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        filter: brightness(0.7);
    }
}



@media (min-width: 61rem) {

    .newsletter {       

        .newsletter-wrap {
            height: 500px;

            h3 {
                font-size: 3em;
            }
    
            form {
                flex-direction: row;
                width: 55%;
                gap: 1rem;
    
                input:first-child {
                    flex: 75%;
                }
    
                input:last-child{
                    flex: 25%;
                }
            }
        }
        
        
    }
}


.newsletter-appear {
    animation: newsletter-appear 2.5s ease forwards;
}

@keyframes newsletter-appear {
    
    0% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}