.showcase {
    width: 100%;

    .flex-wrap {
        display: flex;
        flex-direction: column;

        .showcase-text {
            margin: 4.2rem;

            h3 {
                color: $text-primary;
                font-size: 2.4em;
                margin-bottom: .8rem;
            }

            p {
                font-size: 1.5em;
                line-height: 1.5em;
                font-weight: 300;
                color: $text-secondary;
            }
        }

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: left;
        }

        div:nth-of-type(1) {
            order: 2;
        }
        div:nth-of-type(2) {
            order: 1;
        }
        div:nth-of-type(3) {
            order: 3;
        }
        div:nth-of-type(4) {
            order: 4;
        }
        div:nth-of-type(5) {
            order: 6;
        }
        div:nth-of-type(6) {
            order: 5;
        }
    }
}

@media (min-width: 61rem) {

    .showcase {
        .flex-wrap {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .showcase-text {
                margin: 0;
                padding: 0 8rem;
    
                h3 {
                    font-size: 2.6em;
                }
    
                p {
                    font-size: 1.6em;
                }
            }

            div {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            div:nth-of-type(1) {
                order: 1;
            }
            div:nth-of-type(2) {
                order: 2;
            }
            div:nth-of-type(3) {
                order: 3;
            }
            div:nth-of-type(4) {
                order: 4;
            }
            div:nth-of-type(5) {
                order: 5;
            }
            div:nth-of-type(6) {
                order: 6;
            }
        }
    }
}