$img-1: url("../img/img1.jpg");
$img-2: url("../img/img2.jpg");
$img-3: url("../img/img3.jpg");
$img-4: url("../img/img4.jpg");

$bg-body: #121212;
$h1-color: crimson;
$img-border-color: crimson;

$font-style: 'Montserrat', sans-serif;