$img-1: url("../img/img1.jpg");
$img-2: url("../img/img2.jpg");
$img-3: url("../img/img3.jpg");
$img-4: url("../img/img4.jpg");


$primary-color: #007bff;
$text-primary: #212529;
$text-secondary: #6c757d;

$background-primary: #ffffff;
$background-secondary: #f8f9fa;


$font-style: 'Lato', sans-serif;

